FLASK_ENV=development
FLASK_APP=app:create_app
INGEST_TOKEN=123456
FIREBASE_PROJECT_ID=wua-db
FIREBASE_DATABASE_URL=https://wua-db-default-rtdb.firebaseio.com
# One of the following must be provided (path takes precedence when both set)
FIREBASE_CREDENTIALS_JSON_PATH=./firebase-service-account.json
# FIREBASE_CREDENTIALS_JSON={"type":"service_account",...}

